<div class="new">
  <div class="posts_top">
    <p>新規ユーザー登録</p>
  </div>

  <div class="new_container">
    <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
    <% end %>
    <%= form_with url: "/users/create", model: @user, local: true do |f| %>

    <p class="midashi">ユーザー名</p>
    <%= f.text_field :name, class: 'form-control' %>

    <p class="midashi">E-mail</p>
    <%= f.text_field :email, class: 'form-control' %>

    <p class="midashi">パスワード</p>
    <%= f.password_field :password, class: 'form-control' %>

    <p class="midashi">パスワード(確認)</p>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <p class="midashi">プロフィール文</p>
    <%= f.text_area :profile, class: "form-control", size: "100x5" %>

    <p class="midashi">画像</p>
    <%= f.file_field :image, id: "image", name: "image", accept:"image/*" %>
    <span style="color: #ff0000;" data-mce-style="color: #ff0000;">
      <div><img id="thumbnail" src="/assets/default.jpg" size='100x100' class="trim-image-to-circle-thumbnail"></div>
    </span>

    <script>
      $('#image').change(function() {
        if (this.files.length > 0) {
          // 選択されたファイル情報を取得
          var file = this.files[0];

          // readerのresultプロパティに、データURLとしてエンコードされたファイルデータを格納
          var reader = new FileReader();
          reader.readAsDataURL(file);

          reader.onload = function() {
            $('#thumbnail').attr('src', reader.result);
          }
        }
      });
    </script>

    <%= f.submit "Create my account", class: "btn btn-primary submit_btn" %>


    <% end %>
  </div>
</div>