<div class="new_mypage">
  <div class="new_container">
    <span id="image" style="color: #ff0000;" data-mce-style="color: #ff0000;">
      <% if @user.image.present? %>
      <div class="show-parts"><img id="thumbnail" src="<%= @user.image %>" size='100x100' class="trim-image-to-circle-thumbnail-show"></div>
      <% else %>
      <div class="show-parts"><img id="thumbnail" src="<%= asset_path "default.jpg" %>" size='100x100' class="trim-image-to-circle-thumbnail-show"></div>
      <% end %>
    </span>

    <script>
      $('#image').change(function() {
        if (this.files.length > 0) {
          // 選択されたファイル情報を取得
          var file = this.files[0];

          // readerのresultプロパティに、データURLとしてエンコードされたファイルデータを格納
          var reader = new FileReader();
          reader.readAsDataURL(file);

          reader.onload = function() {
            $('#thumbnail').attr('src', reader.result);
          }
        }
      });
    </script>

    <p class="show-parts name"><%= @user.name %></p>
    <p class="show-parts"><%= @user.profile %></p>
    <ul class="flex flex-right">
      <li class="content-edit"><%= link_to("プロフィールを編集","/users/#{@user.id}/edit", {class: "btn btn-primary"}) %></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @user.posts.each do |post| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= link_to("/posts/#{post.id}") do %>
      <div class="main-contents">
        <div class="card-main-image-wrap">
          <img class="main-image" src="https://images-na.ssl-images-amazon.com/images/P/<%= post[:isbn_code] %>.09.LZZZZZZZ">
        </div>
        <div class="content-wrapper">
          <div class="book-title">
            <p><%= link_to(post.title, "/posts/#{post.id}")%></p>
          </div>
          <div class="box18">
            <h6 class="mb-3">
              <span id="star-rate-<%= post.id %>"></span>
            </h6>
            <script>
              $('#star-rate-<%= post.id %>').raty({
                    size: 36,
                    starOff: "<%= asset_path 'star-off.png' %>",