<div class="new">
  <div class="posts_top">
    <p>ユーザー情報</p>
  </div>

  <div class="new_container">
    <p class="midashi">ユーザー名</p>
    <p><%= @user.name %></p>
    <ul class="flex flex-right">
      <li class="content-edit"><%= link_to("編集","/users/#{@user.id}/edit") %></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @user.posts.each do |post| %>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <%= link_to("/posts/#{post.id}") do %>
      <div class="main-contents">
        <div class="card-main-image-wrap">
          <img class="main-image" src="http://images-jp.amazon.com/images/P/<%= post[:isbn_code] %>.09.LZZZZZZZ">
        </div>
        <div class="content-wrapper">
          <div class="book-title">
            <p><%= link_to(post.title, "/posts/#{post.id}")%></p>
          </div>
          <div class="left-container">
            <% if Like.find_by(user_id: @current_user.id,post_id: post.id) %>
            <%= link_to("/likes/#{post.id}/destroy", {method: "post",class: "font"}) do %>
            <span class="fa fa-heart like-btn-unlike"></span>
            <% end %>
            <% else %>
            <%= link_to("/likes/#{post.id}/create", {method: "post",class: "font"}) do %>
            <span class="fa fa-heart like-btn"></span>
            <% end %>
            <% end %>
            <%= post.like_count %>
          </div>
        </div>
      </div>
      <%end%>
    </div>
    <%end%>
  </div>
</div>