<div class="top_container">
  <div class="content pt-5">
    <h1 class="catch">読んだ本を記録、価値観をシェアしよう</h1>
    <p class="lead pt-3 pb-2">あなただけの価値観をみんなに見てもらおう<br>あなただけの読書記録をつけよう</p>
    <div class="btn_group pt-3">
      <div class="new-post">
        <%= link_to("最近読んだ一冊を投稿","/posts/new", {class: "btn-gradient-3d-simple"}) %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= link_to("/posts/#{post.id}") do %>
      <div class="main-contents">
        <div class="card-main-image-wrap">
          <img class="main-image" src="http://images-jp.amazon.com/images/P/<%= post[:isbn_code] %>.09.LZZZZZZZ">
        </div>
        <div class="content-wrapper">
          <div class="book-title">
            <p><%= link_to(post.title, "/posts/#{post.id}")%></p>
          </div>
          <div v class="box18">
            <h6 class="mb-3">
              <span id="star-rate-<%= post.id %>"></span>
            </h6>
            <script>
              $('#star-rate-<%= post.id %>').raty({
                size: 36,
                starOff: "<%= asset_path 'star-off.png' %>",
                starOn: "<%= asset_path 'star-on.png' %>",
                starHalf: "<%= asset_path 'star-half.png' %>",
                half: true,
                readOnly: true,
                score: "<%= post.rating %>",
              });
            </script>
            <div class="main-message">
              <%= post[:review] %>
            </div>
          </div>
          <div class="left-container">
            <div id="likes_buttons_<%= post.id %>">
              <%= render partial: 'likes/like', locals: { post: post} %>
            </div>
          </div>
          <div class="right-container">
            <% if post.user.image? %>
            <%= image_tag post.user.image.url, :size =>'20x20', :class => "trim-image-to-circle" %>
            <% else %>
            <%= image_tag "default.jpg", :size =>'20x20', :class => "user_image" %>
            <% end %>
            <%= link_to(post.user.name, "/users/#{post.user.id}/show") %>さんの投稿
          </div>

          <div class="comment">
            <%= link_to post_comments_path(post.id), remote: true do %>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"><%= post.comment_count %></span>
            <i class="fa fa-comments" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      </div>
      <%end%>
    </div>
    <%end%>
  </div>
</div>