<div class="new">
  <div class="posts_top">
    <p>投稿する</p>
  </div>

  <% @post.errors.full_messages.each do |message| %>
  <div class="form-error">
    <%= message %>
  </div>
  <% end %>

  <div class="new_container">
    <%= form_for @post, url: posts_path, method: :post, local:true do |f| %>

    <p class="midashi">本のタイトル</p>
    <%= f.text_field :title, class: 'form-control' %>

    <p class="midashi">AmazonのURL</p>
    <%= f.text_field :amazon_url, class: 'form-control' %>

    <p class="midashi">ISBN/ASINコード</p>
    <%= f.text_field :isbn_code, class: 'form-control' %>

    <div class="hosoku">
      <p>※Amazonページの下部の登録情報に記載されているISBNコードを記入して下さい。</p>
      <img src="/assets/isbn.png" class="isbn-image">
    </div>

    <div class="midashi" id="star">
      <%= f.label :rating, '評価 ', class:'col-md-2 col-form-label' %>
      <%= f.hidden_field :rating, class: :review_star %>
    </div>

    <script>
      $('#star').raty({
        size: 36,
        starOff: "<%= asset_path 'star-off.png' %>",
        starOn: "<%= asset_path 'star-on.png' %>",
        starHalf: "<%= asset_path 'star-half.png' %>",
        scoreName: 'post[rating]',
        half: true,
      });
    </script>

    <p class="midashi">レビュー</p>
    <%= f.text_area :review, class: 'form-control', rows: "5" %>

    <%= f.submit "投稿", :class => "btn btn-primary" %>

    <% end %>
  </div>
</div>