<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MyBooks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto align-items-center">
      <% if user_signed_in? %>
      <li class="nav-item">
        こんにちは、<%= link_to("/users/#{current_user.id}/show") do %><%= current_user.name %><%end%>さん！
      </li>
      <% else %>
      <li class="nav-item">
        <a>こんにちは、ゲストさん！</a>
      </li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to users_index_path, class: 'av-item nav-link active ml-4 h6' do%>
        <i class="fas fa-signal icon"></i>読書ランキング
        <% end %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <a class="nav-item nav-link active ml-4 h6" rel="nofollow" href="/posts/new">新規投稿</a>
      </li>
      <li class="nav-item">
        <%= link_to destroy_user_session_path, method: :delete, class: 'nav-item nav-link active ml-4 h6' do %>
        <i class="fas fa-sign-out-alt icon"></i>ログアウト
        <% end %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to user_session_path, class: 'nav-item nav-link active ml-4 h6' do %>
        <i class="fas fa-sign-out-alt icon"></i>ログイン
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to new_user_registration_path, class: 'nav-item nav-link active ml-4 h6' do %>
        <i class="fas fa-user-plus icon"></i>新規登録
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>